/*  wildcard selector to override default styles adds by the browser  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #2e2b2b;
}


/* ----------------------- header ----------------------- */
header {
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: .5em 2em;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    background-color: #ffffff;
}

.div_logo {
    flex: 2;
    display: flex;
    font-size: 120%;
    align-items: center;
    justify-content: center;
}

.img_logo{
    padding: 0px 20px;
}

.div_logo a {
    text-decoration: none;
    color: inherit;
}


/* ----------------------- Nav -----------------------  */
/* Navbar dropdown toggle */
nav {
    position: absolute;
    top: 100%;
    right: 4px;
    padding: 0 1em;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px #3a3a3a;
    display: none;
}

.pagelinks {
    list-style-type: none;
    justify-content: center;
}

.pagelinks>li>a {
    text-decoration: none;
    color: inherit;
    display: flex;
    padding: .5em 1em;
    letter-spacing: 2px;
    font-size: 90%;
}

.active {
    border-bottom: 4px solid #3a3a3a;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* ----------------------- Main Content ----------------------- */
main {
    /* background-color: blueviolet;
    /* Enlarge main element to push footer down*/
    /* flex: 1 0 auto; */ 
}

.hero {
    /* set black background if image fails to load */
    background-color:#000000;
    /* background-image: url(../assets/images/istockphoto-heroimage3.jpg); */
    background-image: url(../assets/images/pexels-cottonbro-studio-3298179.jpg);
    /* padding-bottom: 40em; */
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* hero div style */
.div_heroaddress,
.div_herohours{
    position: absolute;
    background-color: rgb(44, 44, 44, .75);
    text-align: center;
    border: 2px solid #ffffff;
}

/* div hours position */
.div_herohours{
    top: 500px;
    right: 20px;
}

/* div location position */
.div_heroaddress{
    top: 545px;
    left: 20px;
}

/* heading text style */
.div_heroaddress > h3,
.div_herohours > h3 {
    margin-bottom: 4px;
}

/* common text style */
.div_herohours > h3,
.div_herohours > p,
.div_heroaddress > h3,
.div_heroaddress > p {
    color: #ffffff;
    padding: 2px;
    font-size: 80%;
}


.reservebutton {
    background-color: orangered;
}

.reviews {
    background-color: orange;
}

.whyus {
    background-color: darkgray;
}


/*----------------------- Footer -----------------------  */
footer {
    background-color: coral;
}

.sociallinks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 150%;
    padding: 1rem;
}

.sociallinks i {
    color: black
}


/*----------------------- Media query -----------------------  */


/* ----------Media query: large or landscape phones (576px and up) ----------*/
@media screen and (min-width: 576px) {
/*  Header  */

/*  Nav   */

/*  Main Content  */

/* Footer */
}


/* ---------- Media query: tablets and larger (768px and up) ----------*/
@media screen and (min-width: 768px) {
/*  Header  */

/*  Nav   */
nav {
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #3a3a3a;
} 

.pagelinks {
    display: flex;
}

.nav-toggle-label {
    display: none;
}


/*  Main Content  */
main {
/* push main content below nav bar */
position: relative;
top: 33px;
}

/* div hours position */
.div_herohours{
    top: 5em;
    left: 2em;
    border: 2px solid #ffffff;
}

/* div location position */
.div_heroaddress{
    bottom: 10em;
    left: 2em;
    border: 2px solid #ffffff;
}




/* hero div style */
.div_heroaddress,
.div_herohours{
    position: relative;
    width: 250px;
    background-color: rgb(44, 44, 44, .75);
    text-align: center;
    border: 2px solid #ffffff;
}

/* div hours position */
.div_herohours{
    top: 50px;
    left: 20px;
}

/* div location position */
.div_heroaddress{
    top: 300px;
    left: 20px;
}

/* heading text style */
.div_heroaddress > h3,
.div_herohours > h3 {
    margin-bottom: 10px;
}

/* common text style */
.div_herohours > h3,
.div_herohours > p,
.div_heroaddress > h3,
.div_heroaddress > p {
    color: #ffffff;
    padding: 2px;
    font-size: 80%;
}














/* Footer */
}

/* ---------- Large devices (laptops and desktops, 992px and up) ----------*/
@media screen and (min-width: 992px) {
/*  Header  */

/*  Nav   */

/*  Main Content  */

/* Footer */

}


/* all other devices  */
@media screen and (min-width: 1200px) {    
/*  Header  */

/*  