/*  wildcard selector to override default styles adds by the browser  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #2e2b2b;
}

/* header */
header {
    background-color: aqua;
    z-index: 99;
    width: 100%;
    text-decoration: none;
}

.div_hero a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
}

/* Nav */
.pagelinks {
    display: flex;
    list-style-type: none;
    letter-spacing: 2px;
    justify-content: center;
}

.pagelinks>li>a {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1em;
    letter-spacing: 2px;
}

/* Main Content */
main {
    background-color: blueviolet;
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
}

.hero {
    background-color: lightblue;
}

.reservebutton {
    background-color: orangered;
}

.reviews {
    background-color: orange;
}

.whyus {
    background-color: darkgray;
}


/* Footer */
footer {
    background-color: coral;
}

.sociallinks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 150%;
    padding: 1rem;
}

#sociallinks i {
    color: blue;
}